@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import "tailwindcss";

.milonga-regular {
  font-family: "Milonga", serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px;
}


.milonga-regular-title {
    font-family: "Milonga", serif;
  font-weight: 600;
  font-style: normal;
}
